<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094103273281-jsbqfvlk50dfgre9dhikst8dbrbb3hp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094103273281-jsbqfvlk50dfgre9dhikst8dbrbb3hp7</string>
	<key>API_KEY</key>
	<string>AIzaSyDDfSBa5SonnkoaMuG62zu6nfogCJ4aPfE</string>
	<key>GCM_SENDER_ID</key>
	<string>1094103273281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SweetPea.TeamFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>teamfitnessapp-a8e45</string>
	<key>STORAGE_BUCKET</key>
	<string>teamfitnessapp-a8e45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094103273281:ios:6c351d9cc570a8d6</string>
	<key>DATABASE_URL</key>
	<string>https://teamfitnessapp-a8e45.firebaseio.com</string>
</dict>
</plist>